# Document build artifacts
*.aux
*.bbl
*.bcf
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv
*.dvi

# Generated documents
*.pdf

# Python test caches
__pycache__/
*.pyc

old/
